*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 300px;
    background-color: whitesmoke;
    color: rgb(155, 155, 155);
}
header {
    background-color: gainsboro;
    margin: 0px -300px;
    padding: 0px 300px;
}
.h1 {
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    padding: 25px;
}
.gusto {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.to {
    color: grey;
}
.header-text {
    color: white;
    font-size: 12px;
    margin-top: 7px;
}
.view {
    color: grey;
}
main {
    background-color: white;
    padding: 25px;
}
main p {
    font-size: 11px;
    margin: 10px 0px;
}
main h5 {
    color: dimgray;
    margin-top: 10px;
}
main button {
    color: white;
    padding: 8px;
    background-color: dimgray;
    border: 1px solid dimgray;
    pointer-events: visible;
    margin-bottom: 25px;
}
main button:hover {
    color:black;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid white;
}
.first img {
    width: 100%;
}
main hr {
    border: 1px solid whitesmoke;
    margin-bottom: 25px;
}
.second {
    display: flex;
    justify-content: space-between;
}
.second img {
    width: 100%;
}
.boxes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
}
.a {
    border: 1px solid rgb(211, 210, 210);
    display: inline-block;
    padding: 30px 25px;
    background-color: rgb(211, 210, 210);
}
.b {
    border: 1px solid rgb(211, 210, 210);
    display: inline-block;
    padding: 30px 25px;
    background-color: rgb(211, 210, 210);
}
.c {
    border: 1px solid rgb(211, 210, 210);
    display: inline-block;
    padding: 30px 25px;
    background-color: rgb(211, 210, 210);
}
footer {
    background-color: gainsboro;
    margin: 0px -300px;
    padding: 0px 300px;
}
.first-section {
    background-color: lightgray;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.first-section h5 {
    font-size: 20px;
    color: dimgray;
}
.first-section a {
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
}
.card {
    background-color: dimgray;
    padding: 25px;
    color: white;
    font-size: 13px;
}
.second-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 1.5;
}
.links {
    text-decoration: none;
    line-height: 1.5;
    color: white;
}
.lastly {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: rgb(148, 148, 148);
    font-size: 11px;
}
.viewonline a {
    color: rgb(148, 148, 148);
    text-decoration: none;
}
.gussto {
    color: white;
    text-decoration: none;
}
@media (max-width: 900px) {
    body {
        margin: 0px 80px;
    }
    body img {
        width: 100%;
    }
    header {
        margin: 0px -80px;
        padding: 0px 80px;
    }
    footer {
        margin: 0px -80px;
        padding: 0px 80px;
    }
    .first-section a {
        letter-spacing: 3px;
    }
    .second {
        gap: 20px;
    }
}


@media (max-width: 500px) {
    body {
        margin: 0px 40px;
    }
    body img {
        width: 100%;
    }
    header {
        margin: 0px -40px;
        padding: 0px 40px;
    }
    footer {
        margin: 0px -40px;
        padding: 0px 40px;
    }
    .first-section a {
        letter-spacing: 1px;
    }
    .second {
        gap: 20px;
    }
    .boxes {
        padding: 15px 10px;
        gap: 20px;
        flex-direction: column;
    }
    .first-section h5  {
        font-size: 16px;
    }
    footer {
        font-size: 12px;
    }
    .lastly {
        font-size: 7px;
    }
    .second-section {
        flex-direction: column;
    }
    .loorem {
        margin-bottom: 10px;
    }
}